@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, 
*::before, 
*::after {
	box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: hsl(0, 100%, 74%);
	background-image: url(../images/bg-intro-mobile.png);
	background-size: cover;
	background-repeat: no-repeat;
	color: hsl(246, 25%, 77%);
	text-align: center;
}
.container{
    display: flex;
	flex-direction: column;
	width: 100%;
}
section{
    padding: 20px;
}
.section-1 .sub-title{
  color: rgb(255,255,255,0.8);
  line-height: 1.5;
}
h1{
    font-weight: 700;
	color: #fff;
	font-size: 35px;
	line-height: 1.2;
}
.bg-blue{
   background-color: hsl(248, 32%, 49%);
   border-radius: 8px;
   padding: 15px;
   margin: 15px 0px;
   box-shadow: 0 5px rgb(0,0,0,0.1);
}
.font-weight-bold{
    font-weight: 500;
	color: #fff;
}
.font-weight-bolder{
    font-weight: 600;
}
form{
    background-color: #fff;
	border-radius: 5px;
	padding-top: 30px;
    padding-bottom: 20px;
	box-shadow: 0 5px rgb(0,0,0,0.1);
}
form input[type='text'],input[type='password']{
    padding: 15px;
	margin: 10px;
	width: 80%;
	color: hsl(249, 10%, 26%);
	font-weight: 700;
	border-radius: 5px;
	border: 1px solid hsl(246, 25%, 77%);
	outline: none;
}
form input[type='text']:focus, input[type='password']:focus{
    border: 1px solid hsl(249, 10%, 26%);
}
.error{
    font-style: italic;
	color: hsl(0, 100%, 74%);
	text-align: right;
	padding-right: 25px;
	font-size: 11px;
}
.bg-green{
    background-color: hsl(154, 59%, 51%);
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	padding: 15px;
    margin: 10px 0px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 3px rgb(37,142,96,0.8);
	letter-spacing: 1.5px;
	border: none;
	outline: none;
	width: 90%;
}
.bg-green:active {
  transform: translateY(1px);
}
.bg-green a, .bottom-text a{
    text-decoration: none;
	color: inherit;
}
.bottom-text{
    color: hsl(246, 25%, 77%);
	font-size: 12px;
}
.bottom-text .text-red{
    color: hsl(0, 100%, 74%);
	cursor: pointer;
}
.attribution{
    font-size: 11px;
	color: #fff;
}
.attribution a { color: hsl(228, 45%, 44%); }

/* MEDIA QUERIES */
@media only screen and (min-width:600px) and (orientation:landscape){
body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: hsl(0, 100%, 74%);
	background-image: url(../images/bg-intro-desktop.png);
	background-size: cover;
	background-repeat: no-repeat;
	color: hsl(246, 25%, 77%);
	text-align: center;
	padding: 20px 80px 20px 0px;
}
.container{
flex-direction: row;
}
section{
    margin-top: 50px;
	padding: 0px 0px 20px 0px;
}
.section-1{
    color: #fff;
	padding-top: 150px;
    padding-left: 70px;
	padding-right: 0px;
    text-align: left;
    line-height: 1.4;
    width: 60%;
}
.section-2{
	width: 50%;
	padding-left: 20px;
}
h1{
    font-size: 40px;
	line-height: 1;
}
}